<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="NathanMNZ02" value="https://nuget.pkg.github.com/NathanMNZ02/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="NathanMNZ02">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<nomeSource>
			<add key="Username" value="%NATHAN_NUGET_USERNAME%" />
			<add key="ClearTextPassword" value="%NATHAN_NUGET_PASSWORD%" />
		</nomeSource>
	</packageSourceCredentials>
</configuration>